.diez-razones {

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 24px;
        }
    }

    &__number {
        display: inline-flex; justify-content: center; align-items: center;
        background-color: $primary;
        width: 40px; height: 40px;
        border-radius: 50%;
        color: gold;
        margin-right: 12px;
    }
}