.diez-razones {

    &__subcontainer {
        list-style: none;
        padding: 0;

        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    &__razon { 
        display: flex;  align-items: center;
        text-align: justify;
        margin-bottom: 24px;

        // Mobile
        @media (max-width: 992px) {
            flex-wrap: wrap;
            margin: 0 20px;
        }
    }

    &__number {
        display: flex; justify-content: center; align-items: center;
        background-color: $primary;
        min-width: 40px; height: 40px;
        border-radius: 50%;
        color: $secondary;
        margin-right: 12px;

        // Mobile
        @media (max-width: 992px) {
            margin-right: 0; margin-bottom: 24px;
            width: 60px; height: 60px;
            font-size: 24px;
        }
    }
}