.diez-razones {

    ul {
        list-style: none;
        padding: 0;

        li { 
            display: flex;  align-items: center;
            text-align: justify;
            margin-bottom: 24px;
        }
    }

    &__number {
        display: flex; justify-content: center; align-items: center;
        background-color: $primary;
        min-width: 40px; height: 40px;
        border-radius: 50%;
        color: $secondary;
        margin-right: 12px;
    }
}