.faq {

    &__question {
        position: relative;
        padding: 20px;
        margin-bottom: 12px;
        border-bottom: 1px solid rgba($primary, .2);

        &::before,
        &::after {
            content: '';
            position: absolute; top: 50%; right: 40px;
            background-color: $primary;
            width: 30px; height: 2px;
        }
        &::before {
            transform: rotate(90deg);
            transition: .2s linear;
        }
        &::after {
            transform: rotate(180deg);
            transition: .2s linear;
        }

        &:hover {
            cursor: pointer;
        }

        p {
            font-weight: map-get($font-weights, 'medium');
            color: $primary;
            max-width: 80%;
        }

        &.active {
            &::before {
                transform: rotate(135deg);
                transition: .2s linear;
            }
            &::after {
                transform: rotate(225deg);
                transition: .2s linear;
            }
        }

        &.active + .faq__answer {
            max-height: 500px; opacity: 1;
            margin-bottom: 24px;
            transition: .3s linear;
        }
    }

    &__answer {
        max-height: 0; opacity: 0;
        line-height: 28px;
        transition: .3s linear;
    }
}