.hero {
    margin-top: $headerHeight;

    &__container {
        position: relative;
        background-image: url('img/imagenes/torcuato-vista-area.jpg'); 
        background-repeat: no-repeat; background-size: cover; background-position: center;
        height: 600px;

        &::after {
            content: '';
            position: absolute; top: 0; right: 0; bottom: 0; left: 0;
            z-index: 100;
            background-color: rgba($black, .7);
            clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
        }
    }

    &__header {
        position: absolute; right: 5%; top: 50%;
        transform: translateY(-50%);
        z-index: 110;
        max-width: 500px;
    }

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__title {
        color: $primary;
        font-size: 42px;
        text-transform: uppercase;
    }

    &__subtitle {
        color: $secondary;
        font-size: 36px;
    }
}