.novedades {
    padding: 60px 0;

    &__feed {
        display: flex; flex-wrap: wrap;
    }

    &__feed-medios {
        width: 60%;
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;

        // Mobile
        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 70px;
        }
    }

    &__feed-medios-publicacion {
        display: block;
        box-shadow: 5px 5px 15px rgba($black, .25);

        &:hover {

            img {
                transform: scale(1.02);
                transition: .3s linear;
            }
        }

        .publicacion-image-container {
            overflow: hidden;

            img {
                width: 100%; height: auto;
                transition: .3s linear;
            }
            }

        .publicacion-header {
            padding: 10px 30px;

            h3 {
                font-size: 22px;
                color: $primary;
            }
            h4 {
                font-size: 14px;
                font-weight: map-get($font-weights, 'regular');

                span {
                    color: $primary;
                    font-weight: map-get($font-weights, 'medium');
                }
            }
        }
    }

    &__feed-fb {
        width: 40%;
        display: flex !important; justify-content: flex-end;

        // Mobile
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}