.quienes-somos {

    &__container {
        display: flex; flex-wrap: wrap;
    }

    &__title {
        width: 100%;
    }

    &__texto {
        width: 70%;
        line-height: 24px;
        font-weight: map-get($font-weights, 'medium');
        text-align: justify;
        padding-right: 80px;
        margin-bottom: 60px;

        // Mobile
        @media (max-width: 768px) {
            width: 100%;
            padding-right: 0;
        }
    }

    &__conoce-mas {
        width: 20%;

        // Mobile
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__conoce-mas-cta {
        display: flex; justify-content: center;
        background-color: $primary;
        color: $white;
        border: 1px solid $primary;
        border-radius: 25px;
        padding: 15px 0;
        min-width: 240px;
        margin-bottom: 20px;
        transition: .3s linear;

        &:hover {
            background-color: $white;
            color: $primary;
            transition: .3s linear;
        }
    }

    &__image-container {
        width: 100%;
        text-align: center;
    }

    &__image {
        max-width: 100%;
    }
}