@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  height: 90px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s linear;
}
header.active {
  height: 70px;
  transition: 0.3s linear;
}
header nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
header nav .logo-container {
  width: 30%;
  height: 100%;
}
header nav .logo-container img {
  max-width: 180px;
  max-height: 100%;
}
header nav ul {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  height: max-content;
  font-weight: 500;
  margin-right: 24px;
}
header nav ul li:last-child {
  margin-right: 0;
}
header nav ul li a {
  color: #049F47;
}

.hamburger-menu__container {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
}
@media (max-width: 992px) {
  .hamburger-menu__container {
    display: flex;
  }
}
.hamburger-menu__lines span {
  background-color: #049F47;
  width: 40px;
  height: 2px;
  position: absolute;
  left: 5px;
}
.hamburger-menu__lines :nth-child(1) {
  top: 15px;
  transition: 0.5s ease-in-out;
}
.hamburger-menu__lines :nth-child(2) {
  top: 25px;
  transition: 0.5s ease-in-out;
}
.hamburger-menu__lines :nth-child(3) {
  top: 35px;
  transition: 0.5s ease-in-out;
}
.hamburger-menu__lines.open span {
  background-color: #049F47;
  width: 40px;
  height: 2px;
  position: absolute;
  left: 5px;
}
.hamburger-menu__lines.open :nth-child(1) {
  top: 25px;
  transform: rotate(135deg);
  transition: 0.5s ease-in-out;
}
.hamburger-menu__lines.open :nth-child(2) {
  top: 25px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.hamburger-menu__lines.open :nth-child(3) {
  top: 25px;
  transform: rotate(-135deg);
  transition: 0.5s ease-in-out;
}

.container-xl {
  width: 100%;
  max-width: 1440px;
}

.container-lg {
  width: 100%;
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #181818;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

header,
section,
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

section {
  padding-bottom: 40px;
}

.section-title {
  color: #049F47;
  font-size: 32px;
}

.hero {
  margin-top: 90px;
}
.hero__container {
  position: relative;
  background-image: url("img/imagenes/torcuato-vista-area.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
.hero__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
}
.hero__header {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 110;
  max-width: 500px;
}
@media (max-width: 768px) {
  .hero__header {
    position: relative;
  }
}
.hero__title, .hero__subtitle {
  text-align: center;
}
.hero__title {
  color: #049F47;
  font-size: 42px;
  text-transform: uppercase;
}
.hero__subtitle {
  color: #FEDD5D;
  font-size: 36px;
}

.quienes-somos__texto {
  font-weight: 500;
}

.diez-razones ul {
  list-style: none;
  padding: 0;
}
.diez-razones ul li {
  margin-bottom: 24px;
}
.diez-razones__number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #049F47;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #FEDD5D;
  margin-right: 12px;
}

.faq__question {
  margin-bottom: 12px;
  font-weight: 500;
}
.faq__answer {
  margin-bottom: 24px;
}

.contacto__subcontainer {
  display: flex;
  flex-wrap: wrap;
}
.contacto form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .contacto form {
    width: 100%;
  }
}
.contacto form label {
  font-weight: 500;
}
.contacto form input,
.contacto form textarea {
  width: 100%;
  margin-top: 8px;
}
.contacto__obligatorios, .contacto__opcionales {
  padding-right: 50px;
}
.contacto__obligatorios {
  width: 60%;
}
@media (max-width: 768px) {
  .contacto__obligatorios {
    width: 100%;
  }
}
.contacto__opcionales {
  width: 40%;
}
@media (max-width: 768px) {
  .contacto__opcionales {
    width: 100%;
  }
}
.contacto__social {
  width: 30%;
}
@media (max-width: 768px) {
  .contacto__social {
    width: 100%;
  }
}
.contacto__social a {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.contacto__social a img {
  margin-right: 12px;
}

/*# sourceMappingURL=styles.css.map */
