body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: $text-black;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header,
section,
footer {
    display: flex; flex-wrap: wrap; justify-content: center;
    width: 100%;
}

section {
    padding: 40px 0;
}