.integrantes {
    margin-top: 90px;

    &__card {
        display: flex; flex-wrap: wrap;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__card-img-container {
        width: 20%;
        display: flex; justify-content: center; align-items: center;

        // Mobile
        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__card-img {
        width: 80%; height: auto;
        object-fit: cover;
        box-shadow: 5px 5px 15px rgba($black, .3);

        // Mobile
        @media (max-width: 767px) {
            box-shadow: 3px 3px 10px rgba($black, .3);
        }
    }

    &__card-content {
        width: 60%;
        margin-left: 30px;

        // Mobile
        @media (max-width: 1200px) {
            width: 70%;
        }
        // Mobile
        @media (max-width: 767px) {
            width: 80%;
            margin: 0 auto;
        }
    }
}